<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-header-text-logo></app-header-text-logo>

  <ion-card class="ion-margin">
    <ion-card-header class="ion-no-margin">
      <ion-card-title color="primary" class="ion-margin-bottom login-card"
        >Share Location</ion-card-title
      >
    </ion-card-header>

    <ion-card-content class="ion-no-margin">
      <ion-list>
        <ion-text>Select House Name</ion-text>
        <ion-select
          class="shadow ion-margin"
          [interfaceOptions]="customPopoverOptions"
          interface="popover"
          placeholder="Select House Name"
        >
          <ion-select-option *ngFor="let option of locations" value="{{option}}"
            >{{option}}</ion-select-option
          >
        </ion-select>

        <ion-item class="shadow ion-margin">
          <ion-label position="stacked">Your message</ion-label>
          <ion-textarea
            rows="3"
            cols="20"
            placeholder="Enter message.."
          ></ion-textarea>
        </ion-item>

        <ion-label position="stacked">Select contacts to share</ion-label>
          <ion-select
            class="shadow ion-margin"
            [interfaceOptions]="customContactPopoverOptions"
            interface="popover"
            placeholder="Select Contacts to share"
          >
            <ion-select-option
              *ngFor="let option of locations"
              value="{{option}}"
              >{{option}}</ion-select-option
            >
          </ion-select>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="text-center">
    <ion-button color="primary">Submit</ion-button>
  </div>
</ion-content>
