<app-toolbar-top></app-toolbar-top>
<ion-content>
  <app-header-text-logo></app-header-text-logo>

  <ion-card class="ion-margin ion-padding-bottom">

    <ion-card-header class="pb-0">
      <ion-card-title color="primary" class="ion-margin-bottom login-card"
        >Add Location</ion-card-title
      >
    </ion-card-header>

    <form [formGroup]="addLocationForm">
      <ion-list class="pt-0">

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary">Name</ion-label>
          <div class="disabled-form-fields">
            <ion-text>{{userName}}</ion-text>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary">Mobile</ion-label>
          <div class="disabled-form-fields">
            <ion-text>{{mobileNo}}</ion-text>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary">Email</ion-label>
          <div class="disabled-form-fields">
            <ion-text>{{email}}</ion-text>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >Add New House Name<span class="text-danger">*</span>
          </ion-label>
          <ion-input
            [(ngModel)]="newHouseName"
            class="form-control ion-margin-top"
            placeholder="  House Name"
            type="text"
            formControlName="newHouseName"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >Tag  Existing House Name (optional)</ion-label
          >
          <ion-select
            [interfaceOptions]="customExistingHousePopoverOptions"
            interface="popover"
            placeholder=" Select a House Name"
            class="border ion-margin-top"
          >
            <ion-select-option *ngFor="let option of existingHouseNames" value="{{option}}"
              >{{option}}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary">Country</ion-label>
          <div class="disabled-form-fields">
            <ion-text>{{countryName}}</ion-text>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >State<span class="text-danger">*</span></ion-label
          >
          <ion-select
            [interfaceOptions]="customStatePopoverOptions"
            interface="popover"
            placeholder=" Select a State"
            class="border ion-margin-top"
          >
            <ion-select-option *ngFor="let option of states" value="{{option}}"
              >{{option}}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >District<span class="text-danger">*</span></ion-label
          >
          <ion-select
            [interfaceOptions]="customDistrictPopoverOptions"
            interface="popover"
            placeholder="Select a District"
            class="border ion-margin-top"
          >
            <ion-select-option
              *ngFor="let option of districts"
              value="{{option}}"
              >{{option}}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >Village/City/Town Name<span class="text-danger">*</span>
          </ion-label>
          <ion-input
            [(ngModel)]="village"
            class="form-control ion-margin-top"
            placeholder="  Enter details"
            type="text"
            formControlName="village"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >Area<span class="text-danger">*</span></ion-label
          >
          <ion-input
            [(ngModel)]="area"
            class="form-control ion-margin-top"
            placeholder="  Enter Area"
            type="text"
            formControlName="area"
            required
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >Door No/Plot No<span class="text-danger">*</span></ion-label
          >
          <ion-input
          [(ngModel)]="doorPlotNo"
            class="form-control ion-margin-top"
            placeholder="  Enter Details"
            type="text"
            formControlName="doorPlotNo"
            required
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary">Apartment</ion-label>
          <ion-input
          [(ngModel)]="apartment"
            class="form-control ion-margin-top"
            placeholder="  Apartment name & Flat no"
            type="text"
            formControlName="apartment"
            required
          >
          </ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >Select Location<span class="text-danger">*</span></ion-label
          >
          <!-- <ion-input class="form-control ion-margin-top" placeholder="  Enter Location" type="text" required>
          </ion-input> -->
        </ion-item>

        <ion-item lines="none">
          <app-location-picker></app-location-picker>
          <ion-icon name="location-outline" slot="end" item-end></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >Identification Image<span class="text-danger">*</span>
          </ion-label>
          <!-- <ion-input class="mt-2 form-control-file" placeholder="  Enter Location" type="file" required>
          </ion-input> -->
        </ion-item>

        <ion-item lines="none" class="py-1">
          <div class="Rectangle-72">
            <app-image-picker></app-image-picker>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >Location Images<span class="text-danger">*</span></ion-label
          >
        </ion-item>

        <ion-item lines="none" class="ion-margin-top">
          <div class="location-images-container">
            <span class="Rectangle-73">
              <app-image-picker></app-image-picker>
            </span>
            <span class="Rectangle-73">
              <app-image-picker></app-image-picker>
            </span>
            <span class="Rectangle-73">
              <app-image-picker></app-image-picker>
            </span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-button size="small" color="primary" slot="end"
            >Add More</ion-button
          >
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" color="secondary"
            >Upload Voice Direction<span class="text-danger">*</span>
          </ion-label>

          <ion-icon name="mic-outline" slot="end"></ion-icon>
          <ion-input
            class="ion-margin-top form-control-file"
            type="file"
            required
            icon="mic-outline"
          >
          </ion-input>
        </ion-item>
      </ion-list>
    </form>
  </ion-card>

  <div class="container text-center mt-4">
    <!-- [disabled]="!addLocationForm.valid" -->
    <ion-button color="primary" (click)="addLocation()" routerLink="/payments"
      >Add Location</ion-button
    >
  </div>
</ion-content>
