<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container pt-3 pb-3">
    <div class="logo">
      <img
        src="assets/images/logo.png"
        class="ion-margin-top"
        alt="myhomeLogo"
      />
    </div>

    <ion-text class="ion-text-center" color="primary">
      <h2 class="app-name mt-1">House Name</h2>
    </ion-text>
  </div>

  <ion-card class="ion-margin">
    <ion-card-header class="ion-no-margin">
      <ion-card-title color="primary" class="ion-margin-bottom login-card"
        >Support</ion-card-title
      >
      <ion-card-subtitle
        >My Home - My Pride team is happy to assist you. You can call directly
        or send message; Please select your option.</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content class="ion-no-margin" >
      <ion-list>
        <a href="tel:9505444749">
          <ion-item class="shadow ion-margin-horizontal">
            <ion-text>
              Call Support
            </ion-text>
            <ion-icon name="call" slot="end" class="text-success"></ion-icon>
          </ion-item>
        </a>


        <ion-item class="shadow ion-margin">
          <ion-label position="stacked">Send message</ion-label>
          <ion-textarea
            rows="6"
            cols="20"
            placeholder="Type your query here.."
          ></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="text-center">
    <ion-button color="primary" >Submit</ion-button>
  </div>
</ion-content>
