<app-toolbar-top></app-toolbar-top>

<ion-content>
  <app-header-text-logo></app-header-text-logo>

  <ion-card class="ion-margin">
    <ion-card-header class="ion-no-margin">
      <ion-card-title color="primary" class="ion-margin-bottom login-card"
        >Select Location</ion-card-title
      >
      <ion-card-subtitle>select location that you want to Edit</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-no-margin">
      <ion-list>
        <ion-select
          class="shadow ion-margin"
          [interfaceOptions]="customPopoverOptions"
          interface="popover"
          placeholder="Select Location"
          (ionChange)="editSelected($event)"
        >
          <ion-select-option *ngFor="let option of locations" value="{{option.houseId}}"
            >{{option.houseName}}</ion-select-option
          >
        </ion-select>
      </ion-list>
      <div class="ion-text-right" *ngIf="locationSelected">
        <ion-button routerLink="/editlocation">Edit Now</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
