<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="currentFragment==='mobile'"
        defaultHref="home"
      ></ion-back-button>
      <ion-button
        *ngIf="currentFragment==='otp'"
        (click)="currentFragment='mobile'"
        >Back</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div class="login-main">
      <app-header-text-logo></app-header-text-logo>


      <ion-card class="ion-margin">
        <ion-card-header class="ion-no-margin">
          <ion-card-title color="primary" class="ion-margin-bottom login-card"
            >{{ currentFragment === 'mobile' ? 'Login':
            'Verification'}}</ion-card-title
          >
          <ion-card-subtitle
            >You'll receive code to verify your mobile number</ion-card-subtitle
          >
        </ion-card-header>

        <ion-card-content class="ion-no-margin">
          <ion-list class="loginform">
            <!-- (ngSubmit)="onSubmit()" -->
            <form [formGroup]="form">
              <ion-list
                class="ion-text-center"
                *ngIf="currentFragment === 'mobile'"
              >
                <ion-list>
                  <!-- <ion-item class="ion-activated">
                    <ion-label position="floating">Mobile No</ion-label>
                    <ion-input class="input" ng-model="countryCode" placeholder="Country Code"></ion-input>
                    <ion-input
                      formControlName="phoneNo"
                      [(ngModel)]="mobileno"
                      placeholder="Enter Mobile No"
                      maxlength="10"
                      minlength="10"
                      type="tel"
                      required
                    ></ion-input>
                  </ion-item> -->

                  <ion-item>
                    <ion-intl-tel-input
                      [(ngModel)]="mobileno"
                      inputPlaceholder=" 9505444749"
                      formControlName="phoneNumber"
                      [onlyCountries]="countryIsoCodes"
                      [enableAutoCountrySelect]="true"
                      modalCssClass="countryCode"
                    >
                    </ion-intl-tel-input>
                  </ion-item>

                  <!-- <ng-container
                    *ngIf="!loginForm.get('phoneNo').valid && loginForm.get('phoneNo').touched"
                  >
                    <ion-text class="text-danger ion-margin">
                      <ion-text *ngIf="loginForm.controls.phoneNo.errors.required">
                        <p>Mobile Number is required</p>
                      </ion-text>
                      <ion-text *ngIf="loginForm.controls.phoneNo.errors.minlength">
                        <p>Should be atleast 10 digits</p>
                      </ion-text>
                    </ion-text>
                  </ng-container> -->

                  <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
                    <!-- <ion-text
                      color="danger"
                      *ngIf="phoneNumber.errors.required"
                    >
                      <p class="ion-no-margin"><sub>Phone is required.</sub></p>
                    </ion-text> -->
                    <ion-text color="danger" *ngIf="phoneNumber.errors.phone">
                      <p class="ion-no-margin">
                        <sub>Phone number is not valid.</sub>
                      </p>
                    </ion-text>
                  </div>
                </ion-list>
                <!-- [disabled]="!form.valid" -->
                <ion-button
                  [disabled]="!form.valid"
                  type="submit"
                  class="signup"
                  color="primary"
                  type="button"
                  (click)="showOtpFragment()"
                  >Send OTP</ion-button
                >
              </ion-list>
            </form>

            <ion-list class="ion-text-center" *ngIf="currentFragment === 'otp'">
              <ion-list>
                <div class="otp-conc">
                  <ng-otp-input
                    #ngOtpInput
                    (onInputChange)="onOtpChange($event)"
                    *ngIf="showOtpComponent"
                    [config]="config"
                    type="number"
                    pattern="[0-9]*"
                  ></ng-otp-input>

                  <br />
                  <ion-text
                    *ngIf="this.otpcounter> 0"
                    color="danger"
                    class="resend-otp ion-margin-top"
                    >Resend Otp in ({{this.otpcounter}} s)</ion-text
                  >
                </div>
              </ion-list>
              <div class="welcome-buttons">
                <ion-button class="signup" type="button" (click)="userLogin()"
                  >Submit</ion-button
                >
              </div>
              <ion-button
                color="success"
                class="resend-otp ion-margin-top"
                (click)="resendOtp()"
                *ngIf="this.otpcounter === 0"
              >
                Resend Otp
              </ion-button>
            </ion-list>

            <div lines="none" class="already mt-2">
              <ion-text class="ion-margin">
                Don't have an account?
                <span routerLink="/signup" class="text-primary">SignUp</span>
              </ion-text>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
