<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container pt-3 pb-3">
    <div class="logo">
      <img
        src="assets/images/logo.png"
        class="ion-margin-top"
        alt="myhomeLogo"
      />
    </div>

    <ion-text class="ion-text-center" color="primary">
      <h2 class="app-name mt-1">House Name</h2>
    </ion-text>
  </div>

  <ion-card class="ion-margin">
    <ion-card-header class="ion-no-margin">
      <ion-card-title color="primary" class="ion-margin-bottom login-card"
        >Manage Payment</ion-card-title
      >
      <ion-card-subtitle
        >Pay for a location to make it visible</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content class="ion-no-margin" >
      <ion-list>
        <ion-select
        class="shadow ion-margin"
          [interfaceOptions]="customPopoverOptions"
          interface="popover"
          placeholder="Select Location"
        >
          <ion-select-option
            *ngFor="let option of locations"
            value="{{option}}"
            >{{option}}</ion-select-option
          >
        </ion-select>
      </ion-list>


      <div class="m-3 p-3 ion-text-center">
        <ion-button color="primary">Pay Now</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
